{% extends 'common/layout.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Categories</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="{{ path('category_create') }}" class="btn btn-primary">New Category</a>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-7">Category</th>
          <th class="col-md-2">Merchants</th>
          <th class="col-md-3"></th>
        </tr>
      </thead>
      </tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.merchants.count }}</td>
          <td class="text-right">
            <a href="{{ path('category_edit', { category: category.id }) }}" class="btn btn-default btn-xs">Edit</a>
            <form method="post" action="{{ path('category_delete', { category: category.id }) }}" class="form-mini">
              <button type="button" class="btn btn-default btn-xs category-delete" data-category-name="{{ category.name }}">Delete</button>
            </form>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3">No categories found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
