{% extends 'common/layout.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Charity <small></small></h1>
</div>

<p>
  <a href="{{ path('charity_create') }}" class="btn btn-primary">Add charity</a>
</p>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered">
      <tbody>
        {% for charity in charities %}
          <tr>
            <td>
              <div class="pull-right">
                <a href="{{ path('charity_edit', { charity : charity.id }) }}" class="btn btn-default btn-xs">Edit</a>
                <form method="post" action="{{ path('charity_delete', { charity: charity.id }) }}" class="form-mini">
                  <button type="button" class="btn btn-default btn-xs charity-delete" data-charity-name="{{ charity.name }}">Delete</button>
                </form>
              </div>
              {{ charity.name }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
