{% extends 'common/layout.html.twig' %}

{% form_theme form 'common/form_horizontal.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Edit Merchant <small>{{ merchant.name }}</small></h1>
</div>

<div class="row">
  <div class="col-md-9">
    {{ form_start(form, { attr: { class: 'merchant-edit' } }) }}
      {{ form_errors(form) }}
      <div class="form-group">
        <label class="col-md-2 control-label">Store Name</label>
        <div class="col-md-6">
          <p class="form-control-static">{{ merchant.name }}</p>
        </div>
      </div>
      {{ form_row(form.description, { attr: { rows: 6 }, label_attr: { class: 'col-md-2' }, div_attr: { class: 'col-md-5' } }) }}

      {{ form_row(form.commission, { div_attr: { class: 'col-md-3' } }) }}
      {{ form_row(form.commissionMax, { label: 'Up to',  div_attr: { class: 'col-md-3' } }) }}

      {{ form_row(form.commissionType, { label: 'Type', label_attr: { class: 'col-md-2' }, div_attr: { class: 'col-md-3' } }) }}
      <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
