{% extends 'common/layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme form.commission _self %}
{% form_theme form.commissionMax _self %}
{% form_theme form.commissionType _self %}

{% block form_group_class %}col-sm-4{% endblock %}

{% block content %}

{% if not form.vars.valid %}
<div class="alert alert-danger">
  Form contains errors.
</div>
{% endif %}

<div class="page-header">
  <h1>Edit Merchant</h1>
</div>

<div class="row">
  <div class="col-md-9">
    {{ form_start(form, { attr: { class: 'merchant-edit' } }) }}
      {{ form_errors(form) }}
      <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{ merchant.name }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Network</label>
        <div class="col-sm-6">
          <p class="form-control-static">{% if merchant.network %}{{ merchant.network.name }}{% endif %}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Logo</label>
        <div class="col-sm-8">
          <p class="form-control-static">
            {% if merchant.logoPath %}
            <a href="{{ merchant.logoWebUrl }}" target="_blank">{{ merchant.logoWebUrl }}</a>
            {% else %}
            <span class="text-danger"><i class="glyphicon glyphicon-remove"></i> not available</span>
            {% endif %}
            <span class="text-muted"> - updated {{ merchant.logoUpdatedAt|date('m/d/Y') }}</span>
          </p>
        </div>
      </div>
      {% if merchant.logoPath %}
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-2">
            <div class="thumbnail">
              <img src="{{ merchant.logoWebUrl }}">
            </div>
          </div>
        </div>
      {% endif %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Origin</label>
        <div class="col-sm-8">
          <p class="form-control-static">
            <a href="{{ merchant.logoUrl }}" target="_blank">{{ merchant.logoUrl }}</a>
          </p>
        </div>
      </div>
      {{ form_row(form.logoFile, { label: 'Upload logo' }) }}
      {{ form_row(form.skipLogoUpdate, { label: 'Skip automatic logo update' }) }}
      {{ form_row(form.alternativeName, { label: 'Display name' }) }}
      {{ form_row(form.topStore, { label: 'Display in Top Store sections' }) }}
      {{ form_row(form.description, { attr: { rows: 15 } }) }}
      {{ form_row(form.commission) }}
      {{ form_row(form.commissionMax, { label: 'Up to' }) }}
      {{ form_row(form.commissionType, { label: 'Type' }) }}
      {{ form_row(form.clickoutUrl, { label: 'Clickout URL' }) }}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          Use <code>{SUBID}</code> as subid value placeholder in the url
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Update</button>
          <a href="{{ path('merchant_list') }}" class="btn btn-default">Cancel</a>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
