{% extends 'common/layout.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Merchants <small>Store Database</small></h1>
</div>

<div class="row">
  <div class="col-md-6">
    Total {{ merchants|length }} merchants
  </div>
  <div class="col-md-6 text-right">
    <a href="{{ path('merchant_create') }}" class="btn btn-primary">New Merchant</a>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-4">Merchant Name</th>
          <th class="col-md-2">Network</th>
          <th class="col-md-1">Merchant Id</th>
          <th class="col-md-1">URL</th>
          <th class="col-md-1">Comm.</th>
          <th class="col-md-1">Status</th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      </tbody>
        {% for merchant in merchants %}
        <tr>
          <td>{{ merchant.displayName }}</td>
          <td>{% if merchant.network %}{{ merchant.network.name }}{% endif %}</td>
          <td>{{ merchant.networkMerchantId }}</td>
          <td>
            {% if merchant.clickoutUrl %}
            <i class="glyphicon glyphicon-ok text-success"></i>
            <a href="{{ merchant.testTrackingUrl }}" class="btn btn-default btn-xs pull-right" target="_blank">Test</a>
            {% endif %}
          </td>
          <td>{{ merchant.commissionShareText }}</td>
          <td>
            {% if merchant.topStore %}<span class="label label-primary">Top Store</span>{% endif %}
            {% if merchant.logoInvalid %}<span class="label label-warning">Invalid Logo</span>{% endif %}
            {% if not merchant.active %}<span class="label label-danger">Inactive</span>{% endif %}
          </td>
          <td class="text-right">
            <a href="{{ path('merchant_edit', { merchant: merchant.id }) }}" class="btn btn-default btn-xs">Edit</a>
            <form method="post" action="{{ path('merchant_delete', { merchant: merchant.id }) }}" class="form-mini">
              <button type="button" class="btn btn-default btn-xs merchant-delete" data-merchant-name="{{ merchant.name }}">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
