{% extends 'common/layout.html.twig' %}

{% form_theme dateForm 'common/form_inline.html.twig' %}

{% block content %}
<div class="page-header">
  <h1>Site Statistics <small></small></h1>
</div>

<div class="row">
  <div class="col-md-9">
    {{ form_start(dateForm) }}
      {{ form_errors(dateForm) }}
      {{ form_row(dateForm.startDate) }}
      {{ form_row(dateForm.endDate) }}

      <div class="form-group">
        <div class="col-md-6 col-md-offset-2">
          <button type="submit" class="btn btn-primary">Display</button>
        </div>
      </div>
    {{ form_end(dateForm) }}
  </div>
</div>

<br>

{% if display %}
<table class="table table-bordered">
  <tr>
    <th class="col-md-2">Cashback earned</th>
    <td class="col-md-1">$ {{ total_cashback|number_format(2) }}</td>
    <th class="col-md-2">Active users</th>
    <td class="col-md-1">{{ count_earners|number_format }}</td>
    <th class="col-md-2">New users</th>
    <td class="col-md-1">0</td>
    <th class="col-md-2">Referral users</th>
    <td class="col-md-1">0</td>
  </tr>
</table>

<h4>Top Users</h4>
<table class="table table-bordered">
  <thead>
    <th class="col-md-1">User Id</th>
    <th class="col-md-3">Email</th>
    <th class="col-md-1">Total Cash Back</th>
    <th class="col-md-1">Referral Cash Back</th>
    <th class="col-md-1">Personal Cash Back</th>
    <th class="col-md-1">Spend</th>
    <th class="col-md-1">Total Referrals</th>
    <th class="col-md-1">Level 1 Referrals</th>
    <th class="col-md-1">Paid</th>
    <th class="col-md-1">Referrals Paid</th>
  </thead>
</table>
{% endif %}
{% endblock content %}
