<div class="container navbar-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">Beesavy Backoffice</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Merchants <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('merchant_list') }}">Merchants</a></li>
            <li><a href="{{ path('category_list') }}">Merchant Categories</a></li>
          </ul>
        </li>
        <li><a href="{{ path('payment_request') }}">Payment Requests</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Referral Cash Back <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('referral_cashback') }}">Commission</a></li>
            <li><a href="{{ path('charity_list') }}">Charity</a></li>
          </ul>
        </li>
        <li><a href="{{ path('statistics') }}">Site Statistics</a></li>
        <li><a href="{{ path('user_info') }}">User Info</a></li>
      </ul>
      <a href="{{ path('logout') }}" class="btn btn-default navbar-btn navbar-right">Logout</a>
      <p class="navbar-text pull-right">Signed in as <b>{{ app.security.token.user.username }}</b> &nbsp;</p>
    </div>
  </nav>
</div>
